In [74]:
import numpy as np
import pandas as pd

In [75]:
sales_df = pd.read_json("purchase_data.json")

sales_df

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [76]:
print("**Player Count**")
print("Total Players: " +str(len(sales_df["SN"].value_counts())))

**Player Count**
Total Players: 573

In [77]:
print("**Purchasing Analysis (Total)**")
print("# of Unique Items: " + str(len(sales_df["Item ID"].value_counts())))

avg_price = sales_df["Price"].mean()
print("Average Purchase Price: $" + str(avg_price))

print("Total Purchases: " + str(len(sales_df)))

print("Total Revenue: $" +str(sales_df["Price"].sum()))

**Purchasing Analysis (Total)**
# of Unique Items: 183
Average Purchase Price: $2.931192307692303
Total Purchases: 780
Total Revenue: $2286.33

In [78]:
print("**Gender Demographics**")
unique_users = sales_df.drop_duplicates(["SN"])

gender_counts = unique_users["Gender"].value_counts()

gendered_df = pd.DataFrame(gender_counts)

gendered_df["Percent of Userbase"] = (gendered_df/573)*100

gendered_df.head()

**Gender Demographics**

                       Gender  Percent of Userbase
Male                      465            81.151832
Female                    100            17.452007
Other / Non-Disclosed       8             1.396161

In [79]:
print("**Purchasing Analysis (Gender)**")

gendergroup = sales_df.groupby("Gender")

gendered_revenues = gendergroup["Price"].sum()

gendered_avgprice = gendergroup["Price"].mean()

gendered_counts = sales_df["Gender"].value_counts()



gendered_summary = pd.DataFrame({"Total Purchase Value": gendered_revenues,
                                 "Average Purchase Price": gendered_avgprice, 
                                 "Purchase Count": gendered_counts})

gendered_summary

**Purchasing Analysis (Gender)**

,Average Purchase Price,Purchase Count,Total Purchase Value
Female,2.815515,136,382.91
Male,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,11,35.74

In [80]:
print("**Age Demographics**")

bins = [0,10,15,20,25,30,35,40,45]
names = ["Under 10", "10 to 15", "15 to 20", "20 to 25", "25 to 30", "30 to 35", "35 to 40", "40 to 45"]

sales_df["Age Group"] = pd.cut(sales_df["Age"], bins, labels=names)

age_groups = sales_df.groupby("Age Group")

age_summary = pd.DataFrame({"Purchase Count": age_groups["Age"].count(),
                            "Average Purchase Price": age_groups["Price"].mean(),
                            "Total Purchase Value": age_groups["Price"].sum()})

age_summary

**Age Demographics**

           Average Purchase Price  Purchase Count  Total Purchase Value
Age Group
Under 10                 3.019375              32                 96.62
10 to 15                 2.873718              78                224.15
15 to 20                 2.873587             184                528.74
20 to 25                 2.959377             305                902.61
25 to 30                 2.892368              76                219.82
30 to 35                 3.073448              58                178.26
35 to 40                 2.897500              44                127.49
40 to 45                 2.880000               3                  8.64

In [81]:
print("**Top Spenders**")

usersums = sales_df.groupby("SN")

top_summary = pd.DataFrame({"Purchase Count": usersums["Price"].count(),
                            "Average Purchase Price": usersums["Price"].mean(),
                            "Total Purchase Value": usersums["Price"].sum()})

top_summary = top_summary.sort_values(by="Total Purchase Value",ascending=False)

top_summary.head()

**Top Spenders**

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

In [109]:
print("**Most Popular Items**")

items = sales_df.groupby("Item ID")

item_summary = pd.DataFrame({"Purchase Count": items["Price"].count(),
                             "Item Name": items["Item Name"].max(),
                             "Item Price": items["Price"].max(),
                             "Total Purchase Value": items["Price"].sum()})

item_summary = item_summary.sort_values(by="Purchase Count", ascending=False)

item_summary.head()

**Most Popular Items**

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

In [110]:
print("**Most Profitable Items**")

item_summary2 = item_summary.sort_values(by="Total Purchase Value", ascending=False)

item_summary2.head()

**Most Profitable Items**

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88